{% extends "base.html" %}
{% block content %}
    <div class="row row-flex">
        {% for product in products %}   
        
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    
                    <h3 class="text-center">{{ product.name }}</h3>
                    <p class="product-description text-center">{{ product.description }}</p>
                    <p class="text-center">€{{ product.price }}</p>
                    
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control form-size" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}