{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}


{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart_items %}
            <tr>
                <td><img height="100" width="100" src="{{ MEDIA_URL }}{{ item.product.image }}"></td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.description }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.product.price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    

    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
        
    <legend>Payment Details</legend>

    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="form-group col-md-6">
        {{ order_form|as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form|as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group col-md-12">
      <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>

    </form>

{% endblock %}