{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}


    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            
            {% if next %}
                <p>No account? <a href="{% url 'register' %}?next={{ next }}">Sign up</a> now.</p>
            {% else %}        
                <p>No account? <a href="{% url 'register' %}">Sign up</a> now.</p>
            {% endif %}
            
            <br>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p><a href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary">Login</button>
        </fieldset>
    </form>
{% endblock %}